@import "tailwindcss";

@theme {
  /* Suas cores com o vermelho vivo e fundo mais claro */
  --color-osso: #FCFBF8;
  --color-osso2: #F2EFE8;
  --color-preto: #241D18;
  --color-vinho: #C53015;
  --color-ambar: #C99A3E;
  --color-chumbo: #D98878;

  /* Fontes conectadas diretamente, sem fallbacks duplicados */
  --font-serif: var(--font-next-serif);
  --font-mono: var(--font-next-mono);
  --font-sans: var(--font-next-sans);
}

body {
  background-color: var(--color-osso);
  color: var(--color-preto);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: #C53015;
    color: #FCFBF8;
  }

  ::-moz-selection {
    background-color: #C53015;
    color: #FCFBF8;
  }
}