@import "tailwindcss";

@theme {
  /* Suas cores do moodboard */
  --color-osso: #FAF4E6;
  --color-osso2: #F1E7D2;
  --color-preto: #241D18;
  --color-vinho: #C84A31;
  --color-ambar: #C99A3E;
  --color-chumbo: #D98878;

  /* Suas fontes */
  --font-serif: "Fraunces", serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Instrument Sans", sans-serif;
}

body {
  background-color: var(--color-osso);
  color: var(--color-preto);
}

@layer base {

  /* 1. Rolagem Suave (Smooth Scrolling) */
  html {
    scroll-behavior: smooth;
  }

  /* 2. Destaque de Texto Personalizado (Selection Color) */
  ::selection {
    background-color: #C84A31;
    /* Fundo Terracota */
    color: #FAF4E6;
    /* Texto Marfim */
  }

  /* Suporte extra para navegadores Firefox */
  ::-moz-selection {
    background-color: #C84A31;
    color: #FAF4E6;
  }
}